<title>Notifications</title>


<div ng-app="superadmin" class="col-md-12">




  <div class="row">
    <h2 class="pull-left omaha-h2">Notifications</h2>
  </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-5">
                        <form class="form-horizontal" id="create_notificaiton_form" name="create_notificaiton_form">
                            <div class="form-group">
                                <p style="font-size: 20px;font-weight: 700;">Send Alert to specific User</p>
                            </div>
                            <div class="form-group">
                                <label for="usr_id">User Id:</label>
                                <input type="text" class="form-control" id="usr_id" ng-model="vm.recieverId">
                            </div>
                            <div class="form-group">
                                <label for="message">Message:</label>
                                <textarea class="form-control" rows="5" id="message" ng-model="vm.alertMsgtoSpecficUser"></textarea>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" type="submit" ng-click="vm.createSpecificNotificaiton()">Submit</button>
                            </div>
                          </form>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-5">
                          <form class="form-horizontal" id="create_notificaiton_form" name="create_notificaiton_form">
                              <div class="form-group">
                                    <p style="font-size: 20px;font-weight: 700;">Send Alerts to all Users</p>
                                </div>
                              <div class="form-group">
                                  <label for="message">Message:</label>
                                  <textarea class="form-control" rows="5" id="message" ng-model="vm.alertMsgtoAllUsers"></textarea>
                              </div>
                              <div class="form-group">
                                  <button class="btn btn-primary" type="submit" ng-click="vm.createNotificaitonToAll()">Submit</button>
                              </div>
                            </form>
                      </div>
        </div>
    </div>

</div>


