//header and theme blue color
//bhavesh
//$appTheme-Color: #1BAEDA;
$appTheme-Color : #4CA1D2;

$headerBorder-Color: #87CEEB;

//background color on pages
//bhavesh
//$appBackground-Color: #E7ECF2;
$appBackground-Color: #FFFFFF;

//deep blue active font color
$appHighlightLabel-Color: #033C8A;

//regular Label color
$appLabelFont-Color: #fff;

//hr and avatar background color
$appHorizontal-Color: #007498;

//gradient Color Active li
$gradientColorActive-light: #007499;
$gradientColorActive-dark: #1ebff2;

//gradient Color li
$gradientColor-light: #adccd8;
$gradientColor-dark: #4e5965;

//gradient Color button
$buttonGradientColor-light: #003a8c;
$buttonGradientColor-dark: #001740;

//gradient Color Active button
$ActiveButtonGradientColor-light: #003a8c;
$ActiveButtonGradientColor-dark: #001740;

//error color
$appErrorText-Color: red;

$border : 2px solid $appHorizontal-Color;

@mixin hr{
  border: $border;
  margin:0;
}

@mixin appButton{
	background-Color: $appHighlightLabel-Color;
	color: $appLabelFont-Color;
	border: none;
	border-radius: 5px;
	padding: 5px 10px;
	font-weight: 300;
}

@mixin breadcrumb{
  background-color: $appBackground-Color;
  font-size: 14px;
  padding: 10px 30px;
  border-bottom: $border;
  border-radius: 0;
}

/*
.tab{
	background: -webkit-linear-gradient(#AAC3D2, #5C6876);
    background: -o-linear-gradient(#AAC3D2, #5C6876);
    background: -moz-linear-gradient(#AAC3D2, #5C6876);
    background: linear-gradient(#AAC3D2, #5C6876);
    color: $appLabelFont-Color;
}*/
