@import "config";
@import "admin/admin";
@import "superadmin/superadmin";
@import "header";
@import "dev-app.css";

body{
	background-color: $appBackground-Color;
}
h1{
	text-align: center;
}
.myGrid {
    width: 100%;
    height: 100%;
 }
li{
	list-style: none;
}
.appButton{
	@include appButton;
}
.breadcrumb{
	@include breadcrumb;
}
.breadcrumb.active{
	color: #000 !important;
}
.error {color:$appErrorText-Color;}
hr{
	@include hr;
}

h4 {font-size:18pt}
h5 {font-size:14pt}
.left {float: left}
.right{float: right}
.margin_auto {margin: auto}
.hover:hover {color: blue }
.pointer {cursor: pointer}
.capitalize {text-transform: capitalize;}
.center {text-align:center}
.fontTwinty {font-size:20px}
.margin_topthirty{margin-top:30px}
.margin_topfourty {margin-top:40px}
.margin_lefttwinity {margin-left:20px;}
.underline { text-decoration: underline;}
.paddingright_zero {padding-right:0 !important;}
.paddingleft_zero {padding-left:0 !important;}
.padding_zero {padding: 0!important;}
.margin-zero{margin:0;}
.form-group select {
  width:100%;
  height:35px;
}

form hr{
  margin: 30px 0;
}
img {
  margin: auto;
  display: block;
}
#parent-report {

}
.ui-content {
  padding-left: 15px;
  padding-right: 15px;
}
.drop-box {
  background: #F8F8F8;
  border: 5px dashed #DDD;
  width: 170px;
  text-align: center;
  padding: 50px 10px;
  margin-left: 10px;
}
.file-preview-image {
  padding: 12px 0;
}
.omaha-h2 {
  color: #075481;
  margin-top: 0;
  margin-bottom: 30px;
}