@import "config";

.navbar-default {
    background-color: $appTheme-Color;
    border: 1px solid $headerBorder-Color;
    border-radius: 0;
    margin: 0;
    background-image: none;
}
.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}
.nav-tabs li.active a, .nav-tabs > li > a:hover {
  background: linear-gradient($gradientColorActive-light , $gradientColorActive-dark);
  color:$appLabelFont-Color!important;
  margin:0;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
.nav-tabs>li {
    margin-right: 4px;
    background: linear-gradient($gradientColor-light , $gradientColor-dark);
    text-align:center
}
.navbar-default .navbar-nav>li>a {
    color: #EFEFEF;
}
.nav-tabs>li a {color:#fff}
.nav-tabs.borderRadiusTabs>li {
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    width:150px;
}

.btn-info {
  background: linear-gradient($buttonGradientColor-light , $buttonGradientColor-dark);
  border: none;
  color:#BCCAD2;
}
.btn-info:hover {
  background: linear-gradient($ActiveButtonGradientColor-light , $ActiveButtonGradientColor-dark);
}
.navbar-default a.navbar-brand{
  font-size: 24px;
  color: $appLabelFont-Color;
}
.navbar-brand {padding:30px 0}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #555;
  background-color: transparent;
}

.table-responsive {float:left; width:100%}
.table-bordered>tbody>tr:nth-child(odd)>td {
  // bhavesh
  //background-color: #e6edf2;
}
.table-bordered>tbody>tr:nth-child(even)>td {
  // bhavesh
  //background-color: #d5e6f7;
}

.table-bordered>tbody>tr>td, .table-bordered > thead > tr > th {
  border-bottom-width: 0;
  border-right: 1px solid #ddd !important;
}
thead {
  background-color: #CCC;
}
@media (min-width: 768px){
  .navbar-nav > li > a {
      padding-top: 30px;
      padding-bottom: 30px;
  }
}

@media (min-width: 769px) {
    .nav>li {float:left}
}
.button-list .btn {
  margin: 15px 7px;
  background-color: #F15C22;
  color: #fff;
}
.button-list .btn:first-of-type {
  margin-right: 0;
}
