<div ng-app="superadmin">
  <title>Create Partner</title>
  <div>
    <h2 class="pull-left pull-top omaha-h2">Create Partner</h2>
  </div>
  <br/>
  <br/>
  <div class="table-responsive margin_topthirty">
    <style>
      .active, .inactive {font-size:40px;cursor:pointer;}
      .active, .inactive {font-size:40px;cursor:pointer;}
      i.active { color: #5cb85c}
      i.inactive {color: #d9534f}

      .requiredd {
        display: inline-block;
        /* constrain the absolutely positioned pseudo */
        position: relative;
      }
    </style>

    <script type="text/javascript">

      // $(document).ready(function(){
      // });
      // $("input[required]").prepend(<span class='something'>*</span>)
      // initialize with defaults

      /*
       $("#logo").fileinput();
       $("#logo").fileinput({
       showUpload: false,
       browseClass: "btn btn-primary btn-lg",
       fileType: "any",
       previewFileIcon: "<i class='glyphicon glyphicon-king'></i>"
       });
       */

      // following execurtes for all
      $("#logo").on('fileloaded', function(event, file, previewId, index) {
        //alert('i = ' + index + ', id = ' + previewId + ', file = ' + file.name);
        var scope = angular.element($("#barremovd")).scope();
        scope.$apply(function(){
          scope.vm.validlogo = true;
        });

      });



      $('#logo').on('fileuploaderror', function(event, data, msg) {

        var scope = angular.element($("#barremovd")).scope();
        scope.$apply(function(){
          scope.vm.validlogo = false;
          scope.vm.logo = [];
        });

      });
      $('#logo').on('filecleared', function(event) {
        var scope = angular.element($("#barremovd")).scope();
          console.log('Delete Key = ' + event);
          scope.vm.logo = '';
          scope.vm.showoLogoImageerror = true;
      });
      $('#logo').on('fileremoved', function(event, id, index) {
        var scope = angular.element($("#barremovd")).scope();
          console.log('Delete Key 11 = ');
          scope.vm.logo = '';
          scope.vm.showoLogoImageerror = true;
      });


      $("#logo").fileinput({
        uploadUrl: '#', // you must set a valid URL here else you will get an error
        allowedFileExtensions : ['jpg', 'png','gif'],
        showUpload: false,
        showRemove:false,
        overwriteInitial: false,
        maxFileSize: 1000,
        maxFilesNum: 1,
        minImageWidth: 1066,
        minImageHeight: 497,
        maxImageWidth: 1066,
        maxImageHeight: 497,
        resizeImage: false,
        dropZoneEnabled : false,
        //minFileCount: 2,
        //maxFilesNum: 2,
        //validateInitialCount: true,
        //allowedFileTypes: ['image', 'video', 'flash'],
        slugCallback: function(filename) {
          // alert('eee');
          return filename.replace('(', '_').replace(']', '_');
        }
      });




      $("#map").on('fileloaded', function(event, file, previewId, index) {
        //alert('i = ' + index + ', id = ' + previewId + ', file = ' + file.name);
        var scope = angular.element($("#barremovd")).scope();
        scope.$apply(function(){
          scope.vm.validmap = true;
        });

      });



      $('#map').on('fileuploaderror', function(event, data, msg) {

        var scope = angular.element($("#barremovd")).scope();
        scope.$apply(function(){
          scope.vm.validmap = false;
          scope.vm.mapImage = [];
        });

      });



      $("#map").fileinput({
        uploadUrl: '#', // you must set a valid URL here else you will get an error
        allowedFileExtensions : ['jpg', 'png','gif'],
        showUpload: false,
        overwriteInitial: false,
        maxFileSize: 1000,
        maxFilesNum: 1,
        minImageWidth: 1280,
        minImageHeight: 620,
        maxImageWidth: 1280,
        maxImageHeight: 620,
        resizeImage: false,
        dropZoneEnabled : false,
        //allowedFileTypes: ['image', 'video', 'flash'],
        slugCallback: function(filename) {

          return filename.replace('(', '_').replace(']', '_');
        }
      });
      $('#map').on('filecleared', function(event) {
        var scope = angular.element($("#barremovd")).scope();
          console.log('Delete Key = ' + event);
          scope.vm.mapImage = '';
          scope.vm.showMapImageError = true;
      });
      $('#map').on('fileremoved', function(event, id, index) {
        var scope = angular.element($("#barremovd")).scope();
          console.log('Delete Key 11 = ');
          scope.vm.mapImage = '';
          scope.vm.showMapImageError = true;
      });


      // with plugin options
      // $("#logo").fileinput({'showUpload':false, 'previewFileType':'any'});
    </script>
    <!--     <div class="container col-md-offset-3" ng-app="superadmin"> -->
    <div class="container" ng-app="superadmin">

      <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
          <h3 class="modal-title">Uploading in progress.....</h3>
        </div>
        <div class="modal-body">
          <div class="progress progress-striped active" style="margin-bottom:0;"><div class="progress-bar" style="width: 100%"></div></div>
        </div>
        <!--
        <div class="modal-footer">
          <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
          <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
        -->
      </script>


      <form class="form-horizontal" id="create_main_form" name="create_main_form" ng-submit="vm.submitLoginForm(create_main_form.$valid)" novalidate>


        <!--
            <input type="text" ng-model="vm.name" name="username" ng-model-options="{ updateOn: 'blur' }" validate-username invalidpartner>
           <p ng-if="create_main_form.username.$pending">Validating user name...</p>-->
        <!--
        <p ng-if="create_main_form.$error.invalidpartner">Oups error.</p>
    -->
        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-3">
          </div>
        </div> <!-- from group -->

        <div class="form-group">
          <label class="col-md-3 control-label" for="name">Name</label><span class="reqd">*</span>
          <div class="col-md-3">
            <input id="name" name="name" type="text" ng-model="vm.name" class="form-control input-sm" ng-model-options="{ updateOn: 'blur' }" validate-username required invalidpartner>
            <div ng-show="create_main_form.$submitted || create_main_form.name.$touched">
              <div class="error" ng-show="create_main_form.name.$error.required">Name is required.</div>
              <div class="error" ng-show="create_main_form.name.$error.invalidpartner">Partner Name is already exists.</div>
            </div>

          </div>
        </div> <!-- from group -->


        <!-- original before partner name validation
            <div class="form-group">
              <label class="col-md-3 control-label" for="name">Name</label><span class="reqd">*</span>
              <div class="col-md-3">
                <input id="name" name="name" type="text" ng-model="vm.name" class="form-control input-sm" ng-model-options="{ updateOn: 'blur' }" required>
                <div ng-show="create_main_form.$submitted || create_main_form.name.$touched">
                  <div class="error" ng-show="create_main_form.name.$error.required">Name is required.</div>
                </div>

              </div>
            </div>
        -->

        <div class="form-group">
          <label class="col-md-3 control-label" for="address1">Address 1</label><span class="reqd">*</span>
          <div class="col-md-3">
            <input id="address1" name="address1" type="text" ng-model="vm.address1" class="form-control input-md" required>
            <div ng-show="create_main_form.$submitted || create_main_form.address1.$touched">
              <div class="error" ng-show="create_main_form.address1.$error.required">Address1 is required.</div>
            </div>
          </div>
        </div> <!-- from group -->


        <div class="form-group">
          <label class="col-md-3 control-label" for="address2">Address 2</label>
          <div class="col-md-3">
            <input id="address2" name="address2" type="text" ng-model="vm.address2" class="form-control input-md">

            <!--
            <div ng-show="create_main_form.$submitted || create_main_form.address2.$touched">
              <div class="error" ng-show="create_main_form.address2.$error.required">Address1 is required.</div>
            </div>
            -->
          </div>
        </div> <!-- from group -->


        <div class="form-group">
          <label class="col-md-3 control-label" for="city">City</label><span class="reqd">*</span>
          <div class="col-md-3">
            <input id="city" name="city" type="text" ng-model="vm.city" class="form-control input-md" required>
            <div ng-show="create_main_form.$submitted || create_main_form.city.$touched">
              <div class="error" ng-show="create_main_form.city.$error.required">City is required.</div>
            </div>
          </div>
        </div> <!-- from group -->


        <div class="form-group">
          <label class="col-md-3 control-label" for="zip">Zip</label><span class="reqd">*</span>
          <div class="col-md-2">
            <input id="zip" name="zip" type="text" ng-model="vm.zip" class="form-control input-md" required>
            <div ng-show="create_main_form.$submitted || create_main_form.zip.$touched">
              <div class="error" ng-show="create_main_form.zip.$error.required">Zip is required.</div>
            </div>
          </div>
        </div> <!-- from group -->


        <div class="form-group">
          <label class="col-md-3 control-label" for="phone">Phone No</label>
          <div class="col-md-3">
            <input id="phone" name="phone" type="text" ng-model="vm.phone" class="form-control input-md">
            <!--
            <div ng-show="create_main_form.$submitted || create_main_form.phone.$touched">
              <div class="error" ng-show="create_main_form.phone.$error.required">Phone is required.</div>
            </div>
            -->
          </div>
        </div> <!-- from group -->

        <div class="form-group">
          <label class="col-md-3 control-label" for="detectionRadius">Detection Radius</label><span class="reqd">*</span>
          <div class="col-md-3">
            <input id="radius" name="radius" type="number" min="1" ng-model="vm.detectionRadius" class="form-control input-md" required>
            <div ng-show="create_main_form.$submitted || create_main_form.radius.$touched">
              <div class="error" ng-show="create_main_form.radius.$error.required">Detection Radius is required.</div>
            </div>
          </div>
        </div> <!-- from group -->


        <div class="form-group">
          <label class="col-md-3 control-label" for="emails">Emails</label><!--<span class="reqd">*</span>-->
          <div class="col-md-3">
            <input id="emails" name="emails" type="text" ng-model="vm.emails" class="form-control input-md">
            <div ng-show="create_main_form.$submitted || create_main_form.emails.$touched">
              <div class="error" ng-show="create_main_form.emails.$error.required">Emails field is required.</div>
            </div>
          </div>
        </div> <!-- from group -->

        <div class="form-group">

          <label class="col-md-3 control-label" for="logo">Logo Image (1066x497)</label><span class="reqd">*</span>
          <div class="col-md-4">
            <div class="modal-body" ng-show="vm.showlogoloading">
              <div class="progress progress-striped active" style="margin-bottom:0;"><div class="progress-bar" style="width: 100%"></div></div>
            </div>
            <input id="logo" name="logoImage" type="file" class="file" data-preview-file-type="text" ngf-select="vm.processImage($file, 'LOGO')" ng-model="vm.logo" required>
            <!-- <div class="error" ng-show="vm.showlogoerror">Partner logo is required.</div> -->

            <div ng-show="create_main_form.$submitted || create_main_form.logoImage.$touched">
                <div class="error" ng-show="create_main_form.logoImage.$error.required">Partner logo is required.</div>
            </div>
          </div>
        </div> <!-- from group -->



        <div class="form-group">
          <label class="col-md-3 control-label" for="mapImage">Map Image (1280x620)</label><span class="reqd">*</span>

          <div class="col-md-4">
            <div class="modal-body" ng-show="vm.showmaploading">
              <div class="progress progress-striped active" style="margin-bottom:0;"><div class="progress-bar" style="width: 100%"></div></div>
            </div>
            <input id="map" name="mapImage" type="file" class="file" data-preview-file-type="text" ngf-select="vm.processImage($file, 'MAP')" ng-model="vm.mapImage" required>

            <div ng-show="create_main_form.$submitted || create_main_form.mapImage.$touched">
                <div class="error" ng-show="create_main_form.mapImage.$error.required">Map image is required.</div>
            </div>
          </div>
        </div> <!-- from group -->
        <!--
              <button type="file" ngf-select="uploadFiles($file, $invalidFiles)"
                      accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
                Select File</button>
              <br><br>
              File:
              <div style="font:smaller">{{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
              <span class="progress" ng-show="f.progress >= 0">
                  <div style="width:{{f.progress}}%"
                       ng-bind="f.progress + '%'"></div>
              </span>
              </div>
        -->

        <div class="modal-footer center">
          <div class="col-md-5">
            <button class="btn btn-primary" type="submit" >Create</button>

            <!--
            <button class="btn btn-primary" type="submit" ng-click="ok()">Create</button>

             <input type="submit" value="Submit" class="btn" id="loginsubmit">
             <input type="submit" value="Submit" id="submitjobform_submit" class="btn btn-danger">
                -->
            <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
          </div>

        </div>
        <input type="hidden" id="barremovd" value="{{vm.isBarImageRemoved}}">


      </form>

    </div><!--modal-body-->

  </div> <!--table responsive-->

</div>
