<div ng-app="superadmin">
  <title>Edit Partner</title>
  <div>
    <h2 class="pull-left pull-top omaha-h2">Edit Partner</h2>
  </div>
  <br/>
  <br/>
  <div class="table-responsive margin_topthirty">
    <style>
      .active, .inactive {font-size:40px;cursor:pointer;}
      .active, .inactive {font-size:40px;cursor:pointer;}
      i.active { color: #5cb85c}
      i.inactive {color: #d9534f}

      .requiredd {
        display: inline-block;
        /* constrain the absolutely positioned pseudo */
        position: relative;
      }
    </style>
    <script type="text/javascript">
      // initialize with defaults
      //$("#logo").fileinput();
      //https://files.moback.com/content/xMjNtQWSwBXQ/0774ce4b-be9c-415d-84f3-7d002ad2ea08-logo.gif


      $('#logo').on('fileuploaderror', function(event, data, msg) {
      var scope = angular.element($("#barremovd")).scope();
      scope.$apply(function(){
        scope.vm.partnerlogourl = [];
        console.log("came inside logo image error", scope.vm.partnerlogourl);
        scope.vm.checkOfferImage = true;
      });
     });

      $("#logo").fileinput({
        uploadUrl: '#', // you must set a valid URL here else you will get an error
        allowedFileExtensions : ['jpg', 'png','gif'],
        showUpload: false,
        overwriteInitial: true,
        maxFileSize: 1000,
        maxFilesNum: 1,
        minImageWidth: 1066,
        minImageHeight: 497,
        maxImageWidth: 1066,
        maxImageHeight: 497,
        resizeImage: false,
        dropZoneEnabled : false,
        initialPreview: [
          '<img src={{vm.partnerlogourl}}  width="200px" class="file-preview-image" alt="The Moon" title="logo url">'],
        //allowedFileTypes: ['image', 'video', 'flash'],
        slugCallback: function(filename) {

          return filename.replace('(', '_').replace(']', '_');
        }
      });

      $('#logo').on('filecleared', function(event) {
        var scope = angular.element($("#barremovd")).scope();
          console.log('Delete Key = ' + event);
          scope.vm.partnerlogourl = '';
          scope.vm.showoLogoImageerror = true;
      });
      $('#logo').on('fileremoved', function(event, id, index) {
        var scope = angular.element($("#barremovd")).scope();
          console.log('Delete Key 11 = ');
          scope.vm.partnerlogourl = '';
          scope.vm.showoLogoImageerror = true;
      });


      $('#map').on('fileuploaderror', function(event, data, msg) {
      var scope = angular.element($("#barremovd")).scope();
      scope.$apply(function(){
        scope.vm.partnermapurl = [];
        console.log("came inside map image error", scope.vm.partnermapurl);
        scope.vm.checkStreamImage = true;
      });
    });

      $("#map").fileinput({
        uploadUrl: '#', // you must set a valid URL here else you will get an error
        allowedFileExtensions : ['jpg', 'png','gif'],
        showUpload: false,
        overwriteInitial: true,
        maxFileSize: 1000,
        maxFilesNum: 1,
        minImageWidth: 1280,
        minImageHeight: 620,
        maxImageWidth: 1280,
        maxImageHeight: 620,
        resizeImage: false,
        dropZoneEnabled : false,
        initialPreview: [
          '<img src={{vm.partnermapurl}}  width="200px" class="file-preview-image" alt="The Moon" title="map image">'],
        //allowedFileTypes: ['image', 'video', 'flash'],
        slugCallback: function(filename) {

          return filename.replace('(', '_').replace(']', '_');
        }
      });
      $('#map').on('filecleared', function(event) {
        var scope = angular.element($("#barremovd")).scope();
          console.log('Delete Key = ' + event);
          scope.vm.partnermapurl = '';
          scope.vm.showMapImageError = true;
      });
      $('#map').on('fileremoved', function(event, id, index) {
        var scope = angular.element($("#barremovd")).scope();
          console.log('Delete Key 11 = ');
          scope.vm.partnermapurl = '';
          scope.vm.showMapImageError = true;
      });
      // with plugin options
      // $("#logo").fileinput({'showUpload':false, 'previewFileType':'any'});

    </script>

    <!--     <div class="container col-md-offset-3" ng-app="superadmin"> -->
    <div class="container" ng-app="superadmin">
      <form class="form-horizontal" id="update_main_form" name="update_main_form" ng-submit="vm.submitUpdateForm(update_main_form.$valid)" novalidate>

        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-3">
          </div>
        </div> <!-- from group -->

        <div class="form-group">
          <label class="col-md-3 control-label" for="name">Name</label><span class="reqd">*</span>
          <div class="col-md-3">
            <input id="name" name="name" type="text" ng-model="vm.name" class="form-control input-md" required>
            <div ng-show="update_main_form.$submitted || update_main_form.name.$touched">
              <div class="error" ng-show="update_main_form.name.$error.required">Name is required.</div>
            </div>
          </div>
        </div> <!-- from group -->


        <div class="form-group">
          <label class="col-md-3 control-label" for="address1">Address 1</label><span class="reqd">*</span>
          <div class="col-md-3">
            <input id="address1" name="address1" type="text" ng-model="vm.address1" class="form-control input-md" required>
            <div ng-show="update_main_form.$submitted || update_main_form.address1.$touched">
              <div class="error" ng-show="update_main_form.address1.$error.required">Address1 is required.</div>
            </div>
          </div>
        </div> <!-- from group -->


        <div class="form-group">
          <label class="col-md-3 control-label" for="address2">Address 2</label>
          <div class="col-md-3">
            <input id="address2" name="address2" type="text" ng-model="vm.address2" class="form-control input-md">

            <!--
            <div ng-show="update_main_form.$submitted || update_main_form.address2.$touched">
              <div class="error" ng-show="update_main_form.address2.$error.required">Address1 is required.</div>
            </div>
            -->
          </div>
        </div> <!-- from group -->


        <div class="form-group">
          <label class="col-md-3 control-label" for="city">City</label><span class="reqd">*</span>
          <div class="col-md-3">
            <input id="city" name="city" type="text" ng-model="vm.city" class="form-control input-md" required>
            <div ng-show="update_main_form.$submitted || update_main_form.city.$touched">
              <div class="error" ng-show="update_main_form.city.$error.required">City is required.</div>
            </div>
          </div>
        </div> <!-- from group -->


        <div class="form-group">
          <label class="col-md-3 control-label" for="zip">Zip</label><span class="reqd">*</span>
          <div class="col-md-2">
            <input id="zip" name="zip" type="text" ng-model="vm.zip" class="form-control input-md" required>
            <div ng-show="update_main_form.$submitted || update_main_form.zip.$touched">
              <div class="error" ng-show="update_main_form.zip.$error.required">Zip is required.</div>
            </div>
          </div>
        </div> <!-- from group -->


        <div class="form-group">
          <label class="col-md-3 control-label" for="phone">Phone No</label>
          <div class="col-md-3">
            <input id="phone" name="phone" type="text" ng-model="vm.phone" class="form-control input-md">
            <!--
            <div ng-show="update_main_form.$submitted || update_main_form.phone.$touched">
              <div class="error" ng-show="update_main_form.phone.$error.required">Phone is required.</div>
            </div>
            -->
          </div>
        </div> <!-- from group -->

        <div class="form-group">
          <label class="col-md-3 control-label" for="detectionRadius">Detection Radius</label><span class="reqd">*</span>
          <div class="col-md-3">
            <input id="radius" name="radius" type="number" min="1" ng-model="vm.detectionRadius" class="form-control input-md" required>
            <div ng-show="update_main_form.$submitted || update_main_form.radius.$touched">
              <div class="error" ng-show="update_main_form.radius.$error.required">Detection Radius is required.</div>
            </div>
          </div>

        </div> <!-- from group -->


        <div class="form-group">
          <label class="col-md-3 control-label" for="emails">Emails</label><!--<span class="reqd">*</span>-->
          <div class="col-md-3">
            <input id="emails" name="emails" type="text" ng-model="vm.emails" class="form-control input-md">
            <div ng-show="update_main_form.$submitted || update_main_form.emails.$touched">
              <div class="error" ng-show="update_main_form.emails.$error.required">Emails field is required.</div>
            </div>
          </div>
        </div> <!-- from group -->



        <div class="form-group">
          <label class="col-md-3 control-label" for="logo">Logo Image  (1066x497)</label><span class="reqd">*</span>
          <div class="col-md-3">
              <!-- <img ng-src={{vm.partnerlogourl}} ng-show="vm.partnerlogourl" width="200px" class="file-preview-image" ngf-select="vm.uploadFiles($file, $invalidFiles)" alt="logo image" title="logo image"/> -->
              <input id="logo" ng-model="vm.partnerlogourl" type="file" class="file" data-preview-file-type="text" ngf-select="vm.processImage($file, 'LOGO')" name="logoImage" required>
              <!-- <div class="error" ng-show="vm.showlogoerror">Partner logo is required.</div> -->
              <div ng-show="update_main_form.$submitted || update_main_form.logoImage.$touched">
                  <div class="error" ng-show="update_main_form.logoImage.$error.required">Partner logo is required.</div>
              </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label" for="mapImage" style="text-align:right;">Map Image (1280x620)</label><span class="reqd">*</span>
            <div class="col-md-3">
                <!-- <img ng-src={{vm.partnermapurl}} ng-show="vm.partnermapurl" width="200px" class="file-preview-image" ngf-select="vm.uploadFilesmap($file, $invalidFiles)" alt="map image" title="map image"/> -->
              <input id="map" ng-model="vm.partnermapurl" type="file" class="file" data-preview-file-type="text" ngf-select="vm.processImage($file, 'MAP')" name="mapImage" required>
              <div ng-show="update_main_form.$submitted || update_main_form.mapImage.$touched">
                  <div class="error" ng-show="update_main_form.mapImage.$error.required">Map image is required.</div>
              </div>
            </div>
          </div> <!-- from group -->

        

        <div class="modal-footer center" style="border-top:none!important;">
          <div class="col-md-5">
            <button class="btn btn-primary" type="submit" >Update</button>
            <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
          </div>

        </div>
        <input type="hidden" id="barremovd" value="{{vm.isBarImageRemoved}}">
      </form>
    </div><!--modal-body-->

  </div> <!--table responsive-->

</div>
