<div ng-app="superadmin">
  <div class="button-list">
    <h2 class="pull-left pull-top omaha-h2">Partner List</h2>
    <a ng-click="vm.deleteRecord()" class="btn pull-right">DELETE</a>
    <a ng-click="vm.createRecord()" class="btn pull-right">CREATE</a>
  </div>
  <br/>
  <br/>
  <div class="table-responsive margin_topthirty">
    <table class="table table-bordered">
      <thead>
      <title>Partner List</title>
      <tr>
        <th></th>
        <th></th>
        <th>Name</th>
        <th>Emails</th>
        <th>Address</th>
        <th>City</th>
        <th>Zip</th>
        <th>Phone</th>
        <th>Logo</th>
        <th>Map</th>
        <th>Detection Radius (Miles)</th>
      </tr>
      </thead>
      <tbody>

      <tr ng-repeat="partner in vm.allpartnerlist">
        <td class="text-center"><input type="checkbox" ng-model="partner.checked"> </td>
        <td class="text-center"><a ng-click="vm.editRecord(partner.objectId)" class="blue_color pointer">edit</a></td>
        <td>{{partner.name}}</td>
        <td>{{partner.emails}}</td>
        <td>{{partner.address1}},
          <br/>
          {{partner.address2}}</td>
        <td>{{partner.city}}</td>
        <td>{{partner.zip}}</td>
        <td>{{partner.phone}}</td>
        <td>
          <img src={{partner.logo.url}} height="75" >
        </td>
        <td>
          <img src={{partner.mapImage.url}} height="75" >
        </td>
        <td>{{partner.detectionRadius}}</td>
      </tr>
      </tbody>
    </table>
  </div> <!--table responsive-->

</div>

