<div class="container">
  <h2 class="pull-left pull-top omaha-h2">Account Information</h2>
  <div class="row"></div><!--row-->
	<div class="row">
		<div class="col-md-12">
			<ul class="nav nav-tabs borderRadiusTabs">
		        <li><a ui-sref="admin.profile">Profile</a></li>
		        <li class="active"><a ui-sref="admin.billing">Billing</a></li>
			</ul>
		</div><!--col-->
	</div><!--row-->
	<br>
	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-6">
			<h4><span class="view_assignment pointer">Billing</span></h4>
		</div>
		<div class="col-xs- col-sm-6 col-md-6">
			<div class="right">
		        <button class="btn btn-primary" type="button">update</button>
			</div>
		</div><!--col-->
	</div><!--row-->

	<form class="form-horizontal billing_form">
	    <div class="form-group">
	        <label class="control-label col-xs-2">First Name</label>
	        <div class="col-xs-4">
	            <input type="text" class="form-control" value="State/Province">
	        </div>
	        <label class="control-label col-xs-2">Last Name</label>
	        <div class="col-xs-4">
	            <input type="text" class="form-control" value="State/Province">
	        </div>

	    </div>
	     <div class="form-group">
	        <label class="control-label col-xs-2">Address</label>
	        <div class="col-xs-4">
	            <input type="text" class="form-control" value="Address Line #1">
	            <br/>
	            <input type="text" class="form-control" value="Address Line #2">
	        </div>
	   	</div>
	   	<div class="form-group">
	        <label class="control-label col-xs-2">City</label>
	        <div class="col-xs-4">
	            <input type="text" class="form-control" value="city">
	        </div>
	        <label class="control-label col-xs-2">State</label>
	        <div class="col-xs-4">
	            <input type="text" class="form-control" value="State">
	        </div>
	    </div>
		<div class="form-group">
	        <label class="control-label col-xs-2">Country</label>
	        <div class="col-xs-4">
	            <input type="text" class="form-control" value="Country">
	        </div>
	    </div>
	    <div class="form-group">
	        <label class="control-label col-xs-2">Email</label>
	        <div class="col-xs-4">
	            <input type="text" class="form-control" value="Email">
	        </div>
	        <label class="control-label col-xs-2">Phone</label>
	        <div class="col-xs-4">
	            <input type="text" class="form-control" value="Phone">
	        </div>
	    </div>
	    <hr>
	    <div class="form-group">
	        <label class="control-label col-xs-2">Credit Card</label>
	        <div class="col-xs-4">
	            <input type="text" class="form-control" value="password">
	        </div>
	    </div>
	    <div class="form-group">
	        <label class="control-label col-xs-2">Exp Date</label>
	        <div class="col-xs-4">
	            <input type="text" class="form-control" value="Exp Date">
	        </div>
	        <label class="control-label col-xs-2">CVV2</label>
	        <div class="col-xs-4">
	            <input type="text" class="form-control" value="CVV2">
	        </div>
	    </div>
	    <hr>
	    <div class="form-group">
	        <label class="control-label col-xs-2">Password</label>
	        <div class="col-xs-4">
	            <input type="text" class="form-control" value="Password">
	        </div>
	        <label class="control-label col-xs-2">Confirm Password</label>
	        <div class="col-xs-4">
	            <input type="text" class="form-control" value="Confirm Password">
	        </div>
	    </div>
	    <div class="form-group">
	        <label class="control-label col-xs-2">Display Name</label>
	        <div class="col-xs-4">
	            <input type="text" class="form-control" value="Display Name">
	        </div>
	    </div>
	</form>
</div><!--container-->

