<title>Reset Password</title>
<div class="container">

  <!--
	<div class="row">
		<div class="col-md-12">
			<ul class="nav nav-tabs borderRadiusTabs">
		        <li class="active"><a ui-sref="admin.profile">Profile</a></li>
		        <li><a ui-sref="admin.billing">Billing</a></li>
			</ul>
		</div>
	</div>
	<br>
  -->
  <br/>
  <h2><p class="text-center omaha-h2">RESET YOUR PASSWORD</p></h2>
  <div class="row">
    <div class="col-md-offset-2 col-md-6">
      <form class="form-horizontal profile_form" ng-submit="vm.changepasswordForm()">
        <br/>
        <div class="form-group">
          <label class="control-label col-xs-4">New Password</label>
          <div class="col-xs-8">
            <input id="password" name="password" type="text" ng-model="vm.password" class="form-control input-md" required>
          </div>
        </div>
<br/>
        <div class="form-group">
          <label class="control-label col-xs-4">Confirm New Password</label>
          <div class="col-xs-8">
            <input id="confirmpassword" name="confirmpassword" type="text" ng-model="vm.confirmpassword" class="form-control input-md" wj-validation-error="vm.confirmpassword != vm.password ? 'Passwords don\'t match' : ''" required>
          </div>
        </div>
        <br/>
        <div class="modal-footer center">
          <div class="col-md-8">

            <button class="btn" type="submit">RESET PASSWORD</button>
            <!--
             <input type="submit" value="Submit" class="btn btn-primary" id="loginsubmit">
             <input type="submit" value="Submit" class="btn" id="loginsubmit">
             <input type="submit" value="Submit" id="submitjobform_submit" class="btn btn-danger">
            <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button> -->
          </div>
        </div>

      </form>
    </div><!--col-->
  </div><!--row-->
</div><!--container-->

