<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Message</title>
</head>
<body>
<br/>
<h2><p class="text-center omaha-h2">{{vm.messagehead}}</p></h2>
<br/>
<p class="text-center" ng-bind-html="vm.messagetext"></p>
<br/>
<br/>
<br/>
<br/>
<br/>
<p class="text-center"><img src="images/omaha_logo1.png"></p>
<br/>
<br/>
<br/>
<br/>
</body>
</html>
