<title>Login</title>
<div class="container">
  <div class="row">
    <div class="col-xs-offset-1 col-sm-offset-3 col-md-offset-4 col-xs-10 col-sm-6 col-md-4">
      <h2 class="center omaha-h2">Sign-In</h2>
      <form id="admin_login_form" role="form" ng-submit="vm.submitLoginForm()">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="form-group">
              <input type="text" class="form-control" id="userId" ng-model="vm.username" placeholder="Username" required>
            </div>
          </div>
        </div><!-- row-->
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="form-group">
              <input type="password" class="form-control" id="password" ng-model="vm.password" placeholder="Password" required>
              <a ng-href="#/recoverpassword">Forgot Password?</a>
            </div>
          </div>
        </div><!-- row-->
        <input type="submit" value="LOG IN" class="btn btn-primary" id="loginsubmit">
      </form>
    </div> <!-- col-->
  </div> <!-- row-->
</div> <!-- container -->
