<title>Account Information</title>
<h2 class="pull-left pull-top omaha-h2">&nbsp;&nbsp;Account Information</h2>

<div class="container">

  <!--
	<div class="row">
		<div class="col-md-12">
			<ul class="nav nav-tabs borderRadiusTabs">
		        <li class="active"><a ui-sref="admin.profile">Profile</a></li>
		        <li><a ui-sref="admin.billing">Billing</a></li>
			</ul>
		</div>
	</div>
	<br>
  -->

	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-6">
			<h4><span class="view_assignment pointer"></span></h4>
		</div>
		<div class="col-xs- col-sm-6 col-md-6">

		</div><!--col-->

	</div><!--row-->
<br/>
  <br/>
	<div class="row">
		<div class="col-md-offset-2 col-md-6">
			<form class="form-horizontal profile_form" ng-submit="vm.updateProfileForm()">

        <div class="form-group">
          <label class="control-label col-xs-4">First Name</label>
          <div class="col-xs-8">
            <input type="text" class="form-control" ng-model="vm.fName" required>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-xs-4">Last Name</label>
          <div class="col-xs-8">
            <input type="text" class="form-control" ng-model="vm.lName" required>
          </div>
        </div>

			    <div class="form-group">
			        <label class="control-label col-xs-4">Email</label>
			        <div class="col-xs-8">
			            <input type="text" class="form-control" ng-model="vm.email" required>
			        </div>
			    </div>
        <br/><br/>
          <div class="col-xs-12">
            Use the fields below to change your password:
          </div>
        <br/><br/><br/>
        <div class="form-group">
          <label class="control-label col-xs-4">New Password</label>
          <div class="col-xs-8">
            <input id="password" name="password" type="text" ng-model="vm.password" class="form-control input-md">
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-xs-4">Confirm New Password</label>
          <div class="col-xs-8">
            <input id="confirmpassword" name="confirmpassword" type="text" ng-model="vm.confirmpassword" class="form-control input-md" wj-validation-error="vm.confirmpassword != vm.password ? 'Passwords don\'t match' : ''">
          </div>
        </div>
        <br/><br/>
        <div class="modal-footer center">
          <div class="col-md-8">

            <button class="btn btn-primary" type="submit">Update</button>
            <!--
             <input type="submit" value="Submit" class="btn btn-primary" id="loginsubmit">
             <input type="submit" value="Submit" class="btn" id="loginsubmit">
             <input type="submit" value="Submit" id="submitjobform_submit" class="btn btn-danger">
            -->
            <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
          </div>

        </div>


			</form>
		</div><!--col-->
	</div><!--row-->
</div><!--container-->

