<title>Recover Password</title>
<nav class=" navbar navbar-default" role="navigation"><!---->
  <div class="col-md-12">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ng-href="#/">OMAHA SAVINGS APP</a>

    </div>
    <div class="collapse navbar-collapse" id="js-navbar-collapse">
    </div>
  </div>
</nav>
<h2 class="pull-left pull-top omaha-h2">&nbsp;&nbsp;&nbsp;Recover Password</h2>

<div class="container">


  <div class="row">
    <div class="col-xs-offset-1 col-sm-offset-3 col-md-offset-4 col-xs-10 col-sm-6 col-md-4">
      <br/>
      <br/>
      <form id="admin_login_form" role="form" ng-submit="vm.submitLoginForm()">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="form-group">
              <input type="email" class="form-control" id="username" ng-model="vm.userId" placeholder="email" required>
           <!--   <a ng-href="#/admin/forgotpassword">Forgot Password?</a>-->
            </div>
          </div>
        </div><!-- row-->
        <input type="submit" value="SUBMIT" class="btn" id="loginsubmit">
      </form>
    </div> <!-- col-->
  </div> <!-- row-->
</div> <!-- container -->
