<div class="container">
	<div class="row">
		<div class="col-xs-9 col-sm-9 col-md-9">
			
		</div>
		<div class="col-xs-3 col-sm-3 col-md-3">      		 		      
		   	<button class="btn admin-btn right" id="new_admin_save">Save</button>	
		</div>
  	</div><!--row-->
  	<hr>
  	<form class="form-horizontal" role="form" id="new_admin_form">
  		<div class="row">
  			<div class="col-xs-offset-2 col-sm-offset-2 col-md-offset-3 col-xs-8 col-sm-8 col-md-6">     		  	 
			    <div class="form-group">
			      <label class="col-sm-3">First Name <span class="required_text">*</span></label>
			      <div class="col-sm-9">
			        <input type="text" class="form-control" name="firstName" required/>
			      </div>
			    </div>
			    <div class="form-group">
			      <label class="col-sm-3" >Last Name <span class="required_text">*</span></label>
			      <div class="col-sm-9">          
			        <input type="text" class="form-control" name="lastName" required/>
			      </div>
			    </div>
			    <div class="form-group">
			      <label class="col-sm-3">Email <span class="required_text">*</span></label>
			      <div class="col-sm-9">
			        <input type="email" class="form-control" name="email" required/>
			      </div>
			    </div>
			    <div class="form-group">
			      <label class="col-sm-3">Parent Email <span class="required_text">*</span></label>
			      <div class="col-sm-9">
			        <input type="email" class="form-control" name="parentEmail" required/>
			      </div>
			    </div>
			    <div class="form-group">
			      <label class="col-sm-3">User Name <span class="required_text">*</span></label>
			      <div class="col-sm-9">
			        <input type="text" class="form-control" name="userName" required/>
			      </div>
			    </div>	
			    <div class="form-group">
			      <label class="col-sm-3">Password <span class="required_text">*</span></label>
			      <div class="col-sm-9">
			        <input type="password" class="form-control" name="password" required/>
			      </div>
			    </div>				
			</div><!--col-->
			 <div class="col-xs-2 col-sm-2 col-md-3">
				<label class="required_text">* fields are required </label>
			</div>
		</div><!--row-->
		<hr>
	 </form>
</div><!--container-->