<div ng-app="superadmin">
  <title>Zip Codes</title>
  <div>
    <h2 class="pull-left pull-top omaha-h2">&nbsp;&nbsp;&nbsp;Zip Codes</h2>
  </div>
  <br/>
  <br/>
  <br/>
  <br/>
  <div class="table-responsive margin_topthirty">

    <form class="form-horizontal" id="create_main_form" name="create_main_form" novalidate ng-submit="create_main_form.$valid && vm.submitLoginForm()">

      <div class="form-group">
        <label class="col-md-3 control-label" for="name">Local Zipcode List</label>
        <div class="col-md-5">
          <textarea id="name" name="name"  cols="80" rows="10" ng-model="vm.ziplist" class="form-control input-md" required></textarea>
          <div ng-show="create_main_form.$submitted || create_main_form.ziplist.$touched">
            <div class="error" ng-show="create_main_form.ziplist.$error.required">Zip List is required.</div>
          </div>
        </div>
      </div> <!-- from group -->

      <!--


            <button type="file" ngf-select="uploadFiles($file, $invalidFiles)"
                    accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
              Select File</button>
            <br><br>
            File:
            <div style="font:smaller">{{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
            <span class="progress" ng-show="f.progress >= 0">
                <div style="width:{{f.progress}}%"
                     ng-bind="f.progress + '%'"></div>
            </span>
            </div>
      -->
      <br/>
      <div class="modal-footer center">
        <div class="col-md-5">
          <button class="btn btn-primary" type="submit" ng-click="ok()">Update</button>


          <!--
          <button class="btn btn-primary" type="submit" ng-click="ok()">Create</button>

           <input type="submit" value="Submit" class="btn" id="loginsubmit">
           <input type="submit" value="Submit" id="submitjobform_submit" class="btn btn-danger">
              -->
          <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
        </div>

      </div>



    </form>


  </div> <!--table responsive-->

</div>



