<!-- <div class="header" > -->
   <style>

   </style>
    <nav class=" navbar navbar-default" role="navigation"><!---->
        <div class="col-md-12">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
              <a class="navbar-brand" ng-href="#/superadmin/announcement">OMAHA SAVINGS APP</a>
            </div>
            <div class="collapse navbar-collapse" id="js-navbar-collapse">
                <ul class="nav navbar-nav navbar-right">

                  <li  ng-class="{active : isActive == 'home'}"><a ng-href="#/superadmin/announcement">Zip Codes</a></li>
                  <li  ng-class="{active : isActive == 'home'}"><a ng-href="#/superadmin/partner">Partners</a></li>
                  <li  ng-class="{active : isActive == 'home'}"><a ng-href="#/superadmin/offer">Offers</a></li>
                  <li  ng-class="{active : isActive == 'home'}"><a ng-href="#/superadmin/user">Users</a></li>
                  <li  ng-class="{active : isActive == 'home'}"><a ng-href="#/superadmin/report">Reports</a></li>
                  <li  ng-class="{active : isActive == 'home'}"><a ng-href="#/superadmin/notifications">Push Notifications</a></li>

                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle">{{vm.userId}} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a ng-href="#/superadmin/" ui-sref="admin.profile" class="blue_color">Account Info</a></li>
                            <li class="divider"></li>
                            <li><a ng-click="vm.logout()"  class="blue_color pointer">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
<!-- </div> -->
