<div class="superadminContainer">
  <div ui-view="viewHeader"></div>
  <!--  <div ui-view="breadcrumb"></div>-->
  <div id="page-main">
        <div ui-view id="page-body" role="main" class="ui-content"></div>
    </div>
  <div ui-view="viewFooter"></div>
</div>

