/* Component SASS */
/* Add Component SASS Above */


@import "config";

#parent-home {
  ul {
    height: 250px;
    overflow-y: scroll;
    padding: 0;
  }
  ul li {
    padding: 10px;
    border:1px solid $appTheme-Color;
  }
  
}
#parent-report {
    margin-bottom: 30px;
    float: left;
    width: 100%;
}
#parent-report {
    
  .books {
    width: 150px;
    height: 200px;
    border:1px solid $appTheme-Color;
    margin: auto;
    display: block;
  }
  ul li {
    color: $appLabelFont-Color;
    cursor: pointer;
  }
  .progress { margin-bottom:0}
  .incomplete_text {color:#D44646}
  .report_profile_image {float: left;
    float: left;
    width: 150px;
    height: 150px;
    margin-right: 20px;
    overflow: hidden;
    background: #007499;
    border-radius: 10px;
  }
}

