<title>Reports</title>
<style>
  .pagination
  {
    margin-top:0;
    margin-bottom: 20;
  }

  .cssload-container{
    background:rgb(255,255,255);
  }

  .cssload-container div {
    width: 29px;
    height: 29px;
    position: absolute;
    background-color: rgb(204,204,204);
    top: 45%;
    border-radius: 50%;
  }

  .cssload-container div:nth-child(1) {
    background-color: rgb(255,84,96);
    animation: cssload-move 2.3s infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    -o-animation: cssload-move 2.3s infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    -ms-animation: cssload-move 2.3s infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    -webkit-animation: cssload-move 2.3s infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    -moz-animation: cssload-move 2.3s infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
  }

  .cssload-container div:nth-child(2) {
    background-color: rgb(255,157,132);
    animation: cssload-move 2.3s 172.5ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    -o-animation: cssload-move 2.3s 172.5ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    -ms-animation: cssload-move 2.3s 172.5ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    -webkit-animation: cssload-move 2.3s 172.5ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    -moz-animation: cssload-move 2.3s 172.5ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
  }

  .cssload-container div:nth-child(3) {
    background-color: rgb(240,231,151);
    animation: cssload-move 2.3s 345ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    -o-animation: cssload-move 2.3s 345ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    -ms-animation: cssload-move 2.3s 345ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    -webkit-animation: cssload-move 2.3s 345ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    -moz-animation: cssload-move 2.3s 345ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
  }

  .cssload-container div:nth-child(4) {
    background-color: rgb(117,176,138);
    animation: cssload-move 2.3s 517.5ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    -o-animation: cssload-move 2.3s 517.5ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    -ms-animation: cssload-move 2.3s 517.5ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    -webkit-animation: cssload-move 2.3s 517.5ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    -moz-animation: cssload-move 2.3s 517.5ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
  }



  @keyframes cssload-move {
    0% {
      left: 0%;
    }
    100% {
      left: 100%;
    }
  }

  @-o-keyframes cssload-move {
    0% {
      left: 0%;
    }
    100% {
      left: 100%;
    }
  }

  @-ms-keyframes cssload-move {
    0% {
      left: 0%;
    }
    100% {
      left: 100%;
    }
  }

  @-webkit-keyframes cssload-move {
    0% {
      left: 0%;
    }
    100% {
      left: 100%;
    }
  }

  @-moz-keyframes cssload-move {
    0% {
      left: 0%;
    }
    100% {
      left: 100%;
    }
  }

  .formborder
  {
    margin-right: 0;
    margin-left: 0;
    background-color: #fff;
    border-color: #ddd;
    border-width: 1px;
    border-radius: 4px 4px 0 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }



</style>


<div ng-app="superadmin" class="col-md-12">




  <div class="row">
    <h2 class="pull-left omaha-h2">Redeemed Offers</h2>
  </div>


  <div class="jumbotron col-md-6">

    <form class="navbar-form navbar-left" role="search">

      <div class = "row">

        <div class="form-group col-md-10">
          <label class="control-label">Report Type</label>
          <span class="reqd">*</span>
          <p class="input-group">
            <select id="type" class="form-control" ng-model="vm.rtype" ng-options="o as o for o in vm.reportType"></select>

          </p>

        </div>


      </div>

      <div class = "row">
        <div class="form-group col-md-6">
          <label class="control-label" for="fdate">From Date</label><span class="reqd">*</span>
          <p class="input-group">
            <input id="fdate" type="text" class="form-control"
                   datepicker-popup="MM/dd/yyyy"
                   is-open="vm.actstartdatePickerIsOpen"
                   ng-click="vm.actstartdatePickerOpen()"
                   ng-model="vm.startDateTime" ng-required/>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default"
                            ng-click="vm.actstartdatePickerOpen($event)">
                      <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                  </span>
          </p>

        </div>

        <div class="form-group col-md-6">
          <label class="control-label" for="tdate">To Date</label><span class="reqd">*</span>
          <p class="input-group">
            <input id = "tdate" type="text" class="form-control"
                   datepicker-popup="MM/dd/yyyy"
                   is-open="vm.actenddatePickerIsOpen"
                   ng-click="vm.actenddatePickerOpen()"
                   ng-model="vm.endDateTime" ng-required/>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default"
                            ng-click="vm.actenddatePickerOpen($event)">
                      <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                  </span>
          </p>
        </div>
      </div>

      <div class = "row">
        <div class="col-md-6">
          <button type="button" ng-click="vm.exportUserAndOffer()" class="btn" ng-show="vm.rtype == 'Export Offer-New'">Submit New</button>
          <!-- <button type="button" ng-csv="vm.exportUseresCsv()" filename="exportedUsers.csv" class="btn" ng-show="vm.rtype == 'Export Users Emails'">Submit</button> -->
          <button type="button" ng-csv="vm.exportUseresCsv()" filename="exportedUsers.csv" class="btn" ng-show="vm.rtype == 'Export Users Emails'">Submit</button>

          <button type="button" ng-csv="vm.exportOffersCsv()" filename="exportedOffers.csv"class="btn" ng-show="vm.rtype == 'Export Offer Redeemed by Zip'">Submit</button>
          <button type="button" ng-click="vm.runreport()"  class="btn" ng-show="vm.rtype == 'Generate Redeemed Offers Report'">Submit</button>

        </div>
      </div>

    </form>
  </div>


 <!-- <div class="row_fluid" ng-if="vm.rtype == 'Generate Redeemed Offers Report'">-->
  <div class="row_fluid" ng-show="vm.orderlist.length > 0 && vm.rtype == 'Generate Redeemed Offers Report'">
    <div class="table-responsive margin_topten">

      <table ng-table="vm.offerReportTable" show-filter="false" class="table table-condensed table-bordered table-striped">




        <tr ng-repeat="row in $data" >

          <td data-title="'Redeemed Date'" sortable="'createdAt'">{{row.createdAt | date:'MM/dd/yyyy'}}</td>
          <td data-title="'Qty'" sortable="'qty'">{{row.qty}}</td>
          <td  data-title="'User'">
            <li>
              <b>Email :</b> {{ row.user.email }}
            </li>
            <li><b>Name :</b> {{ row.user.fName }} {{ row.user.lName }}
            </li>
            <li><b>Zip :</b> {{ row.user.zip }}
            </li>
          </td>
          <td data-title="'Partner'">
            <li>
              <b>Name :</b> {{ row.partner.name }}
            </li>
            <li><b>Address :</b> {{ row.partner.address1 }} , {{ row.partner.city }}
            </li>
            <li><b>Phone :</b> {{ row.partner.phone }}
            </li>
            <li><b>Detection Radius :</b> {{ row.partner.detectionRadius }}
            </li>
          </td>
          <td data-title="'Offer'">
            <li><b>Title :</b> {{row.offer.title}} </li>
            <li><b>Type :</b> {{row.offer.type}} </li>
            <li><b>Allowed Qty :</b> {{row.offer.minParticipants}} - {{row.offer.maxParticipants}}</li>
          </td>

        </tr>
      </table>

    </div>
  </div>

</div>

<div ng-if="vm.dataLoading">
  <div class="cssload-container">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>

