<nav id="myNavbar" class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="col-md-12">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ng-href="#/superadmin/announcement">OMAHA SAVINGS APP</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" ng-if="vm.getUserId()">
      <ul class="nav navbar-nav navbar-right">
        <li><a ui-sref="admin.superadmin">Offers Management</a></li>
        <li class="dropdown">
          <a href="#" data-toggle="dropdown" class="dropdown-toggle">{{ vm.getUserId() }} <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a ui-sref="admin.profile" class="blue_color">Account Info</a></li>
            <li class="divider"></li>
            <li><a ng-click="vm.logout()"  class="blue_color pointer">logout</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- end navbar-collapse -->
  </div><!-- end container -->
</nav>
