/* Add Component LESS Above */

.adminContainer{

    .fontsize_18pt {font-size:18pt}

    /* form*/
    .profile_form, .billing_form {margin:10px 0 40px}
    .profile_form .form-control, .billing_form .form-control {width:100% !important; background: #F8F8F8}
    .profile_form .form-group, .billing_form .form-group { margin-bottom: 25px;}
    .form-control {width:80% !important; border-radius:1px }

    /* report_profile_image */
    .report_profile_image {float:left; width:150px; height:150px; margin-right: 20px; overflow:hidden; }
    .report_profile_image img {
        max-width: 100%;
        margin: auto;
        display: block;
        max-height: 100%;
        border:1px solid gray;
    }
    /*bookTitle*/
    .bookTitle {
        width: 150px;
        height: 200px;
        border: 1px solid gray;
        background-color: #E3E1E1;
        margin: 20px auto 0;
    }

    /* textare */
    .announcement textarea { max-width: 100%; min-width: 100%; padding:5px 10px;}
    .history { padding:5px 10px; border: 1px solid gray}
    .teacherList{ margin: 10px 0; }

    .overviewContainer{
      margin: 30px 0;
    }


}

