<div ng-app="superadmin">
  <title>Edit Offer</title>
  <div>
    <h2 class="pull-left pull-top omaha-h2">Edit Offer</h2>
  </div>
  <br/>
  <br/>
  <br/>
  <br/>
  <style>
    .active, .inactive {font-size:40px;cursor:pointer;}
    .active, .inactive {font-size:40px;cursor:pointer;}
    i.active { color: #5cb85c}
    i.inactive {color: #d9534f}
  </style>
  <script type="text/javascript">
    /*
    $("#barcodeImage").fileinput({
      uploadUrl: '#', // you must set a valid URL here else you will get an error
      allowedFileExtensions : ['jpg', 'png','gif'],
      showUpload: false,
      overwriteInitial: true,
      maxFileSize: 1000,
      maxFilesNum: 1,
      minImageWidth: 915,
      minImageHeight: 225,
      maxImageWidth: 915,
      maxImageHeight: 225,
      resizeImage: false,
      initialPreview: [
        '<img src={{vm.barcodeurl}}  width="200px" class="file-preview-image" alt="barcode image" title="barcode image">'],
      //allowedFileTypes: ['image', 'video', 'flash'],
      slugCallback: function(filename) {

        return filename.replace('(', '_').replace(']', '_');
      }
    });

    $('#barcodeImage').on('fileclear', function(event) {
      var scope = angular.element($("#barremovd")).scope();
      scope.$apply(function(){
        scope.vm.isBarImageRemoved = true;
      });
      //console.log(scope.vm.isBarImageRemoved);
      //console.log($rootScope);
      //scope.val = true;
      // alert('file cleared');
      //{{vm.barcodeRemoved()}}
      // $scope.selectValue=$(this).data('val');
      // $scope.$apply();
      // vm.barcodeimg = 'wwwww';
      // vm.apply();
      //console.log({{vm.barcodeurl}});
    });
    */
    

    $('#offerImage').on('fileuploaderror', function(event, data, msg) {
      var scope = angular.element($("#barremovd")).scope();
      scope.$apply(function(){
        scope.vm.offerImage = [];
        console.log("came inside offer image error", scope.vm.offerImage);
        scope.vm.checkOfferImage = true;
      });
    });
    $('#offerImage').on('filecleared', function(event) {
    var scope = angular.element($("#barremovd")).scope();
      console.log('Delete Key = ' + event);
      scope.vm.offerImageurl = '';
      scope.vm.showofferimageerror = true;
  });
  $('#offerImage').on('fileremoved', function(event, id, index) {
    var scope = angular.element($("#barremovd")).scope();
      console.log('Delete Key 11 = ');
      scope.vm.offerImageurl = '';
      scope.vm.showofferimageerror = true;
  });

    $("#offerImage").fileinput({
      uploadUrl: '#', // you must set a valid URL here else you will get an error
      allowedFileExtensions : ['jpg', 'png','gif'],
      showUpload: false,
      overwriteInitial: true,
      maxFileSize: 1000,
      maxFilesNum: 1,
      minImageWidth: 1280,
      minImageHeight: 1031,
      maxImageWidth: 1280,
      maxImageHeight: 1031,
      resizeImage: false,
      dropZoneEnabled : false,
      initialPreview: [
        '<img src={{vm.offerImageurl}}  width="200px" class="file-preview-image" alt="offer image" title="offer image">'],
      //allowedFileTypes: ['image', 'video', 'flash'],
      slugCallback: function(filename) {

        return filename.replace('(', '_').replace(']', '_');
      }
    });

    $('#streamImage').on('fileuploaderror', function(event, data, msg) {
      var scope = angular.element($("#barremovd")).scope();
      scope.$apply(function(){
        scope.vm.streamPhoto = [];
        console.log("came inside stream image error", scope.vm.streamPhoto);
        scope.vm.checkStreamImage = true;
      });
    });

    $("#streamImage").fileinput({
      uploadUrl: '#', // you must set a valid URL here else you will get an error
      allowedFileExtensions : ['jpg', 'png','gif'],
      showUpload: false,
      overwriteInitial: true,
      maxFileSize: 1000,
      maxFilesNum: 1,
      minImageWidth: 1280,
      minImageHeight: 640,
      maxImageWidth: 1280,
      maxImageHeight: 640,
      resizeImage: false,
      dropZoneEnabled : false,
      initialPreview: [
        '<img src={{vm.streamImageurl}}  width="200px" class="file-preview-image" alt="stream image" title="stream image">'],
      //allowedFileTypes: ['image', 'video', 'flash'],
      slugCallback: function(filename) {

        return filename.replace('(', '_').replace(']', '_');
      }
    });
    $('#streamImage').on('filecleared', function(event) {
    var scope = angular.element($("#barremovd")).scope();
      console.log('Delete Key = ' + event);
      scope.vm.streamImageurl = '';
      scope.vm.showStreamImageError = true;
  });
  $('#streamImage').on('fileremoved', function(event, id, index) {
    var scope = angular.element($("#barremovd")).scope();
      console.log('Delete Key 11 = ');
      scope.vm.streamImageurl = '';
      scope.vm.showStreamImageError = true;
  });
  $("#barcodeImage").fileinput({
      uploadUrl: '#', // you must set a valid URL here else you will get an error
      allowedFileExtensions : ['jpg', 'png','gif'],
      showUpload: false,
      overwriteInitial: true,
      maxFileSize: 1000,
      maxFilesNum: 1,
      minImageWidth: 915,
      minImageHeight: 225,
      maxImageWidth: 915,
      maxImageHeight: 225,
      resizeImage: false,
      initialPreview: [
        '<img src={{vm.barCodeurl}}  width="200px" class="file-preview-image" alt="barcode image" title="barcode image">'],
      //allowedFileTypes: ['image', 'video', 'flash'],
      slugCallback: function(filename) {

        return filename.replace('(', '_').replace(']', '_');
      }
    });
  $('#barcodeImage').on('filecleared', function(event) {
    var scope = angular.element($("#barremovd")).scope();
      console.log('Delete Key = ' + event);
      scope.vm.barCodeurl = '';
      scope.vm.showBarcodeImageError = false;
  });
  $('#barcodeImage').on('fileremoved', function(event, id, index) {
    var scope = angular.element($("#barremovd")).scope();
      console.log('Delete Key 11 = ');
      scope.vm.barCodeurl = '';
      scope.vm.showBarcodeImageError = false;
  });

  </script>

  <div class="container table-responsive margin_topthirty" ng-app="superadmin">

    <form class="form-horizontal" id="edit_main_form" name="edit_main_form" 
    ng-submit="vm.submitOfferForm(edit_main_form.$valid)" novalidate>

      <div class="form-group">
        <label class="col-md-3 control-label" for="partner">Partner</label>
        <div class="col-md-3">
          <select id="partner" class="form-control" name="partnerselection" id="partnerselection" ng-options="option.name for option in vm.availableOptions track by option.objectId" ng-model="vm.selectedpartner"></select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-3 control-label" for="type">Type</label>
        <div class="col-md-3">
          <select id="type" class="form-control" ng-model="vm.type" ng-options="o as o for o in vm.offerType"></select>

        </div>
      </div> <!-- from group -->

      <div class="form-group">
        <label class="col-md-3 control-label" for="title">Title</label><span class="reqd">*</span>
        <div class="col-md-3">
          <input id="title" name="title" type="text" ng-model="vm.title" class="form-control input-md" required>
          <div ng-show="edit_main_form.$submitted || edit_main_form.title.$touched">
            <div class="error" ng-show="edit_main_form.title.$error.required">Title is required.</div>
          </div>
        </div>
      </div> <!-- from group -->


      <div class="form-group">
        <label class="col-md-3 control-label" for="description">Description</label><span class="reqd">*</span>
        <div class="col-md-3">
          <textarea id="description" name="description"  cols="40" rows="5" ng-model="vm.description" class="form-control input-md" required></textarea>
          <div ng-show="edit_main_form.$submitted || edit_main_form.description.$touched">
            <div class="error" ng-show="edit_main_form.description.$error.required">Description is required.</div>
          </div>
        </div>
      </div> <!-- from group -->

      <div class="form-group">
        <label class="col-md-3 control-label" for="restrictions">Restrictions</label><span class="reqd">*</span>
        <div class="col-md-3">
          <textarea id="restrictions" name="restrictions"  cols="40" rows="5" ng-model="vm.restrictions" class="form-control input-md" required></textarea>
          <div ng-show="edit_main_form.$submitted || edit_main_form.restrictions.$touched">
            <div class="error" ng-show="edit_main_form.restrictions.$error.required">Restriction is required.</div>
          </div>
        </div>
      </div> <!-- from group -->


      <div class="form-group">
        <label class="col-md-3 control-label">Start Date</label>

        <div class="col-xs-3">
          <p class="input-group">
            <input type="text" class="form-control"
                   uib-datepicker-popup="MM/dd/yyyy" min-date="mindate"
                   is-open="vm.actstartdatePickerIsOpen"
                   ng-click="vm.actstartdatePickerOpen()"
                   ng-model="vm.startDateTime" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default"
                      ng-click="vm.actstartdatePickerOpen($event)">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
          </p>

        </div>
      </div>


      <div class="form-group">
        <label class="col-md-3 control-label">Expiration Date</label>
        <div class="col-xs-3">
          <p class="input-group">
            <input type="text" class="form-control"
                   uib-datepicker-popup="MM/dd/yyyy"
                   is-open="vm.actenddatePickerIsOpen"
                   ng-click="vm.actenddatePickerOpen()"
                   ng-model="vm.expirationDateTime" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default"
                      ng-click="vm.actenddatePickerOpen($event)">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
          </p>

        </div>
      </div>



      <div class="form-group">
        <label class="col-md-3 control-label" for="minParticipants">Min Participants</label><span class="reqd">*</span>
        <div class="col-md-3">
          <input id="minParticipants" name="minParticipants" type="number" min="1" ng-model="vm.minParticipants" class="form-control input-md" required>
          <div ng-show="edit_main_form.$submitted || edit_main_form.minParticipants.$touched">
            <div class="error" ng-show="edit_main_form.minParticipants.$error.required">Min Participants is required.</div>
          </div>
        </div>

      </div> <!-- from group -->


      <div class="form-group">
        <label class="col-md-3 control-label" for="maxParticipants">Max Participants</label><span class="reqd">*</span>
        <div class="col-md-3">
          <input id="maxParticipants" name="maxParticipants" type="number" min="1" ng-model="vm.maxParticipants" class="form-control input-md" required>
          <div ng-show="edit_main_form.$submitted || edit_main_form.maxParticipants.$touched">
            <div class="error" ng-show="edit_main_form.maxParticipants.$error.required">Max Participants is required.</div>
          </div>
        </div>
      </div> <!-- from group -->



      <div class="form-group">
        <label class="col-md-3 control-label" for="isFeatured">Featured Offer</label>
        <div class="col-md-3">
          <input id="isFeatured" name="isFeatured" type="checkbox" ng-model="vm.isFeatured" >

        </div>

      </div> <!-- from group -->


      <div class="form-group">
        <label class="col-md-3 control-label" for="teaserPhoto">Offer Image (1280x1031)</label><span class="reqd">*</span>
        <div class="col-md-3">

          <!-- <img ng-src={{vm.offerImageurl}} ng-show="vm.offerImageurl" width="200px" class="file-preview-image"
               alt="teaser image" title="teaser image" ngf-select="vm.uploadOfferFiles($file, $invalidFiles)"/> -->

          <input id="offerImage"  type="file" class="file" data-preview-file-type="text" ngf-select="vm.processImage($file, 'OFFER')" name="teaserPhoto" required>
          <!-- <div ng-show="edit_main_form.$submitted || edit_main_form.teaserPhoto.$touched">
              <div class="error" ng-show="edit_main_form.teaserPhoto.$error.required">Offer image is required.</div>
            </div> -->

          <!--
          <div ng-show="!vm.offerImageurl" ngf-drop="vm.uploadOfferFiles($file, $invalidFiles)" ngf-select="vm.uploadOfferFiles($file, $invalidFiles)" ng-model="vm.barcodeImage" class="drop-box">
            Drag and Drop Files Here
          </div>
          <p>Click image or drop on container to replace image</p>
          -->

        </div>
      </div> <!-- from group -->


      <div class="form-group">
        <label class="col-md-3 control-label" for="streamImage">Stream Image (1280x640)</label><span class="reqd">*</span>
        <div class="col-md-3">
          <!-- <img ng-src={{vm.streamImageurl}} width="200px" class="file-preview-image"
               alt="stream image" title="stream image" ngf-select="vm.uploadstreamFiles($file, $invalidFiles)" /> -->

          <input id="streamImage"  type="file" class="file" data-preview-file-type="text" ngf-select="vm.processImage($file, 'STREAM')" name="streamPhoto" required>
          <!-- <div class="error" ng-show="vm.showstreamimageerror">Stream image is required.</div> -->
          <!-- <div ng-show="edit_main_form.$submitted || edit_main_form.streamPhoto.$touched">
              <div class="error" ng-show="edit_main_form.streamPhoto.$error.required">Stream image is required.</div>
            </div> -->
        </div>
      </div> <!-- from group -->

      <div class="form-group">
        <label class="col-md-3 control-label" for="barcodeImage">Barcode Image (915x225)</label>
        <div class="col-md-3">
          <!-- <img ng-src={{vm.barCodeurl}}  width="200px" class="file-preview-image"
               alt="barcode image" title="barcode image"
               ngf-drop="vm.uploadBarcodeFiles($file, $invalidFiles)"
               ngf-select="vm.uploadBarcodeFiles($file, $invalidFiles)"
          /> -->
          <input id="barcodeImage"  type="file" class="file" data-preview-file-type="text" ngf-select="vm.processImage($file, 'BARCODE')">
        </div>
      </div> <!-- from group -->

      <div class="modal-footer center">
        <div class="col-md-5">
          <button class="btn btn-primary" type="submit" ng-disabled="!isReadyToUpdate">Update</button>
          <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
        </div>

      </div>


      <input type="hidden" id="barremovd" value="{{vm.isBarImageRemoved}}">
    </form>

  </div> <!--table responsive-->

</div>
