<div ng-app="superadmin">
  <title>Create Offer</title>
  <div>
    <h2 class="pull-left pull-top omaha-h2">Create Offer</h2>
  </div>
  <br/>
  <br/>
  <br/>
  <br/>
  <style>
    .active, .inactive {font-size:40px;cursor:pointer;}
    .active, .inactive {font-size:40px;cursor:pointer;}
    i.active { color: #5cb85c}
    i.inactive {color: #d9534f}

  </style>
  <script type="text/javascript">
    // initialize with defaults
    //$("#teaserPhoto").fileinput();
    //$("#barcodeImage").fileinput();
    // with plugin options
    // $("#logo").fileinput({'showUpload':false, 'previewFileType':'any'});

    // initialize with defaults

    /*
     $("#logo").fileinput();

     $("#logo").fileinput({
     showUpload: false,
     browseClass: "btn btn-primary btn-lg",
     fileType: "any",
     previewFileIcon: "<i class='glyphicon glyphicon-king'></i>"
     });

     $("#logo").on('fileloaded', function(event, file, previewId, index) {
     alert('i = ' + index + ', id = ' + previewId + ', file = ' + file.name);
     });
     */

    //http://plugins.krajee.com/file-input/demo
    $("#offerImage").fileinput({
      uploadUrl: '#', // you must set a valid URL here else you will get an error
      uploadAsync: false,
      allowedFileExtensions : ['jpg', 'png','gif'],
      showUpload: false,
      overwriteInitial: false,
      maxFileSize: 1000,
      maxFilesNum: 1,
      minImageWidth: 1280,
      minImageHeight: 1031,
      maxImageWidth: 1280,
      maxImageHeight: 1031,
      resizeImage: false,
      dropZoneEnabled : false,
      //allowedFileTypes: ['image', 'video', 'flash'],
      slugCallback: function(filename) {

        return filename.replace('(', '_').replace(']', '_');
      }
    });
  $('#offerImage').on('fileuploaderror', function(event, data, msg) {
      var scope = angular.element($("#barremovd")).scope();
      scope.$apply(function(){
        scope.vm.teaserPhoto = [];
        console.log("came inside offer image error", scope.vm.teaserPhoto);
        scope.vm.checkOfferImage = true;
      });
    });
  $('#offerImage').on('filecleared', function(event) {
    var scope = angular.element($("#barremovd")).scope();
      console.log('Delete Key = ' + event);
      scope.vm.teaserPhoto = '';
      scope.vm.showofferimageerror = true;
  });
  $('#offerImage').on('fileremoved', function(event, id, index) {
    var scope = angular.element($("#barremovd")).scope();
      console.log('Delete Key 11 = ');
      scope.vm.teaserPhoto = '';
      scope.vm.showofferimageerror = true;
  });

    $('#streamImage').on('fileuploaderror', function(event, data, msg) {
      var scope = angular.element($("#barremovd")).scope();
      scope.$apply(function(){
        scope.vm.streamPhoto = [];
        console.log("came inside stream image error", scope.vm.streamPhoto);
        scope.vm.checkStreamImage = true;
      });
    });

    $("#streamImage").fileinput({
      uploadUrl: '#', // you must set a valid URL here else you will get an error
      allowedFileExtensions : ['jpg', 'png','gif'],
      showUpload: false,
      overwriteInitial: false,
      maxFileSize: 1000,
      maxFilesNum: 1,
      minImageWidth: 1280,
      minImageHeight: 640,
      maxImageWidth: 1280,
      maxImageHeight: 640,
      resizeImage: false,
      dropZoneEnabled : false,
      //allowedFileTypes: ['image', 'video', 'flash'],
      slugCallback: function(filename) {

        return filename.replace('(', '_').replace(']', '_');
      }
    });

    $('#streamImage').on('filecleared', function(event) {
    var scope = angular.element($("#barremovd")).scope();
      console.log('Delete Key = ' + event);
      scope.vm.streamPhoto = '';
      scope.vm.showStreamImageError = true;
  });
  $('#streamImage').on('fileremoved', function(event, id, index) {
    var scope = angular.element($("#barremovd")).scope();
      console.log('Delete Key 11 = ');
      scope.vm.streamPhoto = '';
      scope.vm.showStreamImageError = true;
  });

//http://plugins.krajee.com/file-input/demo
    $("#barcodeImage").fileinput({
      uploadUrl: '#', // you must set a valid URL here else you will get an error
      allowedFileExtensions : ['jpg', 'png','gif'],
      showUpload: false,
      overwriteInitial: false,
      maxFileSize: 1000,
      maxFilesNum: 1,
      minImageWidth: 915,
      minImageHeight: 225,
      maxImageWidth: 915,
      maxImageHeight: 225,
      resizeImage: false,
      dropZoneEnabled : false,
      //allowedFileTypes: ['image', 'video', 'flash'],
      slugCallback: function(filename) {

        return filename.replace('(', '_').replace(']', '_');
      }
    });
  $('#barcodeImage').on('filecleared', function(event) {
    var scope = angular.element($("#barremovd")).scope();
      console.log('Delete Key = ' + event);
      scope.vm.barcodeImage = '';
      scope.vm.showBarcodeImageError = false;
  });
  $('#barcodeImage').on('fileremoved', function(event, id, index) {
    var scope = angular.element($("#barremovd")).scope();
      console.log('Delete Key 11 = ');
      scope.vm.barcodeImage = '';
      scope.vm.showBarcodeImageError = false;
  });

  </script>
  <div class="container table-responsive margin_topthirty" ng-app="superadmin">



      <form class="form-horizontal" id="create_main_form" name="create_main_form" ng-submit="vm.submitOfferForm(create_main_form.$valid)" novalidate>




        <div class="form-group">
          <label class="col-md-3 control-label" for="partner">Partner</label>
          <div class="col-md-3">
            <!--
              <select class="form-control" ng-options="obj.mainCategory for mainCategory in selectedFacilityId"
                      ng-model="teacherUserName">
              </select>
              <select class="form-control" ng-init="options[0] = options[0]"  name="selectedFacilityId" ng-model="selectedFacilityId">
                <option ng:repeat="maincat in textmain" value="{{maincat.mainCategory}}">{{maincat.mainCategory}}</option>
              </select>
              -->
            <select id="partner" class="form-control"
                    ng-model="vm.selectedpartner"
                    ng-options="option.name for option in vm.allpartnerlist">
            </select>

          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label" for="type">Type</label>
          <div class="col-md-3">
            <select id="type" class="form-control" ng-model="vm.type" ng-options="o as o for o in vm.offerType"></select>

          </div>
        </div> <!-- from group -->


        <div class="form-group">
          <label class="col-md-3 control-label" for="title">Title</label><span class="reqd">*</span>
          <div class="col-md-3"> 
            <input id="title" name="title" type="text" ng-model="vm.title" class="form-control input-md" required>
            <div ng-show="create_main_form.$submitted || create_main_form.title.$touched">
              <div class="error" ng-show="create_main_form.title.$error.required">Title is required.</div>
            </div>
          </div>
        </div> <!-- from group -->


        <div class="form-group">
          <label class="col-md-3 control-label" for="description">Description</label><span class="reqd">*</span>
          <div class="col-md-3">
            <textarea id="description" name="description"  cols="40" rows="5" ng-model="vm.description" class="form-control input-md" required></textarea>
            <div ng-show="create_main_form.$submitted || create_main_form.description.$touched">
              <div class="error" ng-show="create_main_form.description.$error.required">Description is required.</div>
            </div>
          </div>
        </div> <!-- from group -->

        <div class="form-group">
          <label class="col-md-3 control-label" for="restrictions">Restrictions</label><span class="reqd">*</span>
          <div class="col-md-3">
            <textarea id="restrictions" name="restrictions"  cols="40" rows="5" ng-model="vm.restrictions" class="form-control input-md" required></textarea>
            <div ng-show="create_main_form.$submitted || create_main_form.restrictions.$touched">
              <div class="error" ng-show="create_main_form.restrictions.$error.required">Restriction is required.</div>
            </div>
          </div>
        </div> <!-- from group -->


        <div class="form-group">
          <label class="col-md-3 control-label">Start Date</label>

          <div class="col-xs-3">
            <p class="input-group">
              <input type="text" class="form-control"
                     uib-datepicker-popup="MM/dd/yyyy" min-date="mindate"
                     is-open="vm.actstartdatePickerIsOpen"
                     ng-click="vm.actstartdatePickerOpen()"
                     ng-model="vm.startDateTime" ng-required/>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default"
                      ng-click="vm.actstartdatePickerOpen($event)">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
            </p>


          </div>
        </div>


        <div class="form-group">
          <label class="col-md-3 control-label">Expiration Date</label>
          <div class="col-xs-3">
            <p class="input-group">
              <input type="text" class="form-control"
                     uib-datepicker-popup="MM/dd/yyyy"
                     is-open="vm.actenddatePickerIsOpen"
                     ng-click="vm.actenddatePickerOpen()"
                     ng-model="vm.expirationDateTime" ng-required/>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default"
                      ng-click="vm.actenddatePickerOpen($event)">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
            </p>

          </div>
        </div>



        <div class="form-group">
          <label class="col-md-3 control-label" for="minParticipants">Min Participants</label><span class="reqd">*</span>
          <div class="col-md-3">
            <input id="minParticipants" name="minParticipants" type="number" min="1" ng-model="vm.minParticipants" class="form-control input-md" required>
            <div ng-show="create_main_form.$submitted || create_main_form.minParticipants.$touched">
              <div class="error" ng-show="create_main_form.minParticipants.$error.required">Min Participants is required.</div>
            </div>
          </div>

        </div> <!-- from group -->


        <div class="form-group">
          <label class="col-md-3 control-label" for="maxParticipants">Max Participants</label><span class="reqd">*</span>
          <div class="col-md-3">
            <input id="maxParticipants" name="maxParticipants" type="number" min="1" ng-model="vm.maxParticipants" class="form-control input-md" required>
            <div ng-show="create_main_form.$submitted || create_main_form.maxParticipants.$touched">
              <div class="error" ng-show="create_main_form.maxParticipants.$error.required">Max Participants is required.</div>
            </div>
          </div>

        </div> <!-- from group -->

        <div class="form-group">
          <label class="col-md-3 control-label" for="isFeatured">Featured Offer</label>
          <div class="col-md-3">
            <input id="isFeatured" name="isFeatured" type="checkbox" ng-model="vm.isFeatured" >
          </div>

        </div> <!-- from group -->


        <div class="form-group">
          <label class="col-md-3 control-label" for="teaserPhoto">Offer Image (1280x1031)</label><span class="reqd">*</span>
          <div class="col-md-4">

            <input id="offerImage" name="teaserPhoto" ng-model="vm.teaserPhoto" type="file" class="file" data-preview-file-type="text" ngf-select="vm.processImage($file, 'OFFER')" required>
            <!-- <div class="error" ng-show="vm.showofferimageerror">Offer image is required.</div> -->

            <div ng-show="create_main_form.$submitted || create_main_form.teaserPhoto.$touched">
                <div class="error" ng-show="create_main_form.teaserPhoto.$error.required">Offer image is required.</div>
            </div>
           

          </div>
        </div> <!-- from group -->

        <div class="form-group">
          <label class="col-md-3 control-label" for="streamPhoto">Stream Image (1280x640)</label><span class="reqd">*</span>
          <div class="col-md-4">

            <input id="streamImage" name="streamPhoto" ng-model="vm.streamPhoto" type="file" class="file" data-preview-file-type="text" ngf-select="vm.processImage($file, 'STREAM')" required>
            <!-- <div class="error" ng-show="vm.showofferImageError">Stream image is required.</div> -->

            <div ng-show="create_main_form.$submitted || create_main_form.streamPhoto.$touched">
              <div class="error" ng-show="create_main_form.streamPhoto.$error.required">Stream image is required.</div>
            </div>

          </div>
        </div> <!-- from group -->


        <div class="form-group">
          <label class="col-md-3 control-label" for="barcodeImage">Barcode Image (915x225)</label>
          <div class="col-md-4">

            <input id="barcodeImage" ng-model="vm.barcodeImage" type="file" class="file" data-preview-file-type="text" ngf-select="vm.processImage($file, 'BARCODE')">
            <!--
            <input id="radius" name="radius" type="text" ng-model="vm.radius" class="form-control input-md" required>
            <div ng-show="create_main_form.$submitted || create_main_form.phone.$touched">
              <div class="error" ng-show="create_main_form.radius.$error.required">Detection Radius is required.</div>
            </div>
            -->
          </div>
        </div> <!-- from group -->




        <div class="modal-footer center">
          <div class="col-md-5"> 
            <!-- <button class="btn btn-primary" type="submit" ng-disabled="vm.showofferimageerror == true">Create</button> -->
            <button class="btn btn-primary" type="submit">Create</button>
            <!--
                    <input type="submit" value="Submit" class="btn btn-primary" id="loginsubmit">

             <input type="submit" value="Submit" class="btn" id="loginsubmit">
             <input type="submit" value="Submit" id="submitjobform_submit" class="btn btn-danger">
                -->
            <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
          </div>

        </div>
        <input type="hidden" id="barremovd" value="{{vm.isBarImageRemoved}}">
      </form>

  </div> <!--table responsive-->

</div>
