<style>
  .red{
    background-color: #eeeef0;
  }
</style>
<div ng-app="superadmin">

  <div class="button-list">
    <h2 class="pull-left omaha-h2">Offer List</h2>
    <a ng-click="vm.deleteRecord()" class="btn pull-right">DELETE</a>
    <a ng-click="vm.createRecord()" class="btn pull-right">CREATE</a>

  </div>
  <br/>
  <br/>
  <div class="table-responsive margin_topthirty">
    <table class="table table-bordered">
      <thead>
      <title>Offer List</title>
      <tr>
        <th></th>
        <th></th>
        <th>Partner</th>
        <th>Type</th>
        <th>Title</th>
        <!--
        <th>Description</th>
        <th>Restrictions</th>
        <th>Maximum Participants</th>
        <th>Minimum Participants</th>
        -->
        <th>Start Date</th>
        <th>Expiration Date</th>
        <!--
        <th>Featured Offer</th>
        <th>Offer Image</th>
        <th>Barcode Image</th>
        -->
        <th>Created On</th>
      </tr>
      </thead>
      <tbody>

      <tr ng-repeat="offer in vm.allofferlist" ng-class='{red : offer.isexpired}'>
        <td class="text-center"><input type="checkbox" ng-model="offer.checked"> </td>
        <td class="text-center"><a ng-click="vm.editRecord(offer.objectId)" class="blue_color pointer">edit</a></td>
        <td>{{offer.partnerPoint.name}}</td>
        <td>{{offer.type}}</td>
        <td>{{offer.title}}</td>

        <!--
        <td>{{offer.description}}</td>
        <td>{{offer.restrictions}}</td>
        <td>{{offer.maxParticipants}}</td>
        <td>{{offer.minParticipants}}</td>
        -->
        <td>{{offer.startDateTime.iso | date:'MM/dd/yyyy'}}</td>
        <td>{{offer.expirationDateTime.iso | date:'MM/dd/yyyy'}}</td>
        <!--
        <td>{{offer.isFeatured}}</td>
        <td>
          <img src={{offer.teaserPhoto.url}} height="75" >
        </td>
        <td>
          <img ng-src={{offer.barcodeImage.url}} height="75" >
        </td>
        -->
        <td>{{offer.createdAt | date:'MM/dd/yyyy'}}</td>


      </tr>
      </tbody>
    </table>
  </div> <!--table responsive-->

</div>


