<title>Users</title>
<style>
  .cssload-container{
    background:rgb(255,255,255);
  }

  .cssload-container div {
    width: 29px;
    height: 29px;
    position: absolute;
    background-color: rgb(204,204,204);
    top: 45%;
    border-radius: 50%;
  }

  .cssload-container div:nth-child(1) {
    background-color: rgb(255,84,96);
    animation: cssload-move 2.3s infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    -o-animation: cssload-move 2.3s infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    -ms-animation: cssload-move 2.3s infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    -webkit-animation: cssload-move 2.3s infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    -moz-animation: cssload-move 2.3s infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
  }

  .cssload-container div:nth-child(2) {
    background-color: rgb(255,157,132);
    animation: cssload-move 2.3s 172.5ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    -o-animation: cssload-move 2.3s 172.5ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    -ms-animation: cssload-move 2.3s 172.5ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    -webkit-animation: cssload-move 2.3s 172.5ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    -moz-animation: cssload-move 2.3s 172.5ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
  }

  .cssload-container div:nth-child(3) {
    background-color: rgb(240,231,151);
    animation: cssload-move 2.3s 345ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    -o-animation: cssload-move 2.3s 345ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    -ms-animation: cssload-move 2.3s 345ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    -webkit-animation: cssload-move 2.3s 345ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    -moz-animation: cssload-move 2.3s 345ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
  }

  .cssload-container div:nth-child(4) {
    background-color: rgb(117,176,138);
    animation: cssload-move 2.3s 517.5ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    -o-animation: cssload-move 2.3s 517.5ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    -ms-animation: cssload-move 2.3s 517.5ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    -webkit-animation: cssload-move 2.3s 517.5ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    -moz-animation: cssload-move 2.3s 517.5ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
  }



  @keyframes cssload-move {
    0% {
      left: 0%;
    }
    100% {
      left: 100%;
    }
  }

  @-o-keyframes cssload-move {
    0% {
      left: 0%;
    }
    100% {
      left: 100%;
    }
  }

  @-ms-keyframes cssload-move {
    0% {
      left: 0%;
    }
    100% {
      left: 100%;
    }
  }

  @-webkit-keyframes cssload-move {
    0% {
      left: 0%;
    }
    100% {
      left: 100%;
    }
  }

  @-moz-keyframes cssload-move {
    0% {
      left: 0%;
    }
    100% {
      left: 100%;
    }
  }


</style>
<div ng-app="superadmin">

  <div ng-if="vm.dataLoading">
    <div class="cssload-container">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <div class="button-list">
    <h2 class="pull-left omaha-h2">User List</h2>
    <a ng-click="vm.sendverification()" class="btn pull-right">RESEND VERIFICATION</a>
    <a ng-click="vm.enableusers()" class="btn pull-right">ENABLE</a>
    <a ng-click="vm.disableusers()" class="btn pull-right">DISABLE</a>
  </div>
  <br/>
  <br/>
  <div class="table-responsive text-left">
    <table ng-table="vm.userlistTable" show-filter="false" class="table table-condensed table-bordered table-striped">

      <thead>
      <th></th>

      <th>User Id
        <form name="vm.searchForm" novalidate ng-submit="vm.applyGlobalSearch()">

          <div class="input-group">
            <input type="text" class="form-control col-lg-4" placeholder="Search term" name="searchTerm" ng-model="vm.searchuserterm" required />
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit" ng-disabled="vm.searchForm.$invalid">
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </span>
          </div>
        </form>
      </th>
      <th>Disabled</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Zip</th>
      <th>Created On</th>
      </thead>
      <!--
      <thead>
      <title>User List</title>
      <tr>
        <th></th>
        <th>Email</th>
        <th>Disabled</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Zip</th>
        <th>Created On</th>
      </tr>
      </thead>
      <tbody>
      -->

      <tr ng-repeat="user in $data">
        <td class="text-center"><input type="checkbox" ng-model="user.checked"> </td>
        <td title="'User Id'" filter="{Email: 'text'}">{{user.userId}}</td>

        <!-- <td class="text-center"><a ng-click="vm.editRecord(offer.objectId)" class="blue_color pointer">edit</a></td>-->
       <!-- <td data-title="'Email'" title="'Email'" filter="{Email: 'userId'}">{{user.userId}}</td>-->
        <td data-title="'Disabled'" class="text-center">{{user.disabled == null ? "No" : user.disabled ? "Yes" : "No"}}</td>
        <td data-title="'First Name'">{{user.fName}}</td>
        <td data-title="'Last Name'">{{user.lName}}</td>
        <td data-title="'Zip'" class="text-center">{{user.zip}}</td>
        <td data-title="'Created On'" class="text-center">{{user.createdAt | date:'MM/dd/yyyy'}}</td>
      </tr>
      </tbody>
    </table>
  </div> <!--table responsive-->

</div>


